@if(!person){
Cargando datos...
}
@if(person){
<section
  class="movie"
  [style.background-image]="'url(https://image.tmdb.org/t/p/w500' + person.profile_path + ')'"
  [style.background-position]="'center'"
  [style.background-size]="'cover'"
>
  <div>
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path"
      width="200"
      [alt]="'https://image.tmdb.org/t/p/w500'+person.profile_path"
    />
  </div>
  <div class="info-container">
    <h1>{{person.name}}</h1>
    <div>
      <strong>Original nanme:</strong><br />
      {{person.original_name}} <br />
      <strong>Birthday:</strong><br />
      {{person.birthday}} <br />
      <strong>Gender:</strong> <br />
      {{person.gender===1?'Female':person.gender===2?'Male':'Not clear'}} <br />

      <strong>Popularity</strong>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="ipc-icon ipc-icon--star sc-d541859f-4 LNYqq"
          viewBox="0 0 24 24"
          fill="currentColor"
          role="presentation"
        >
          <path
            d="M12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72 3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5z"
          ></path>
        </svg>
        <span> {{person.popularity}} </span>
      </span>
    </div>

    <div class="biography">{{person.biography}}</div>
    <a href="{{person.homepage}}" target="_blank" class="homepage">🌐</a>
  </div>
</section>
}

