:host {
  background-image: url("../../../../../public/assets/dataset-card.jpg");
  width: 100%;
  height: calc(100vh - 50px);
  display: block;
  position: relative;
  background-position: center;
  background-size: cover;
  padding-top: 1em;
}
:host::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    -90deg,
    rgb(31, 31, 31) 0%,
    rgba(31, 31, 31, 0.6) 50%,
    rgb(31, 31, 31) 100%
  );
}
button {
  z-index: 3;
  display: block;
  position: absolute;
  top: calc(40vh - 29px);

  left: calc(50% - 84px);
  margin: 0 auto;
  text-decoration: none;
}
